*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #232323;
    color: #fff;
}

 .btn{
    background-color: aquamarine;
    padding: 15px;
 }

 #social-icons{
  background-color: rgb(255, 68,0, 0.705 );

 }
 #social-icons .btn{
    border-radius: 18px;
 }

.btn:hover{
  background-color: blueviolet;
  color: #fff;
}